---
import { useTranslations } from "@/i18n/i18n";
import Typo from "../typography/Typo.astro";
import AppStoreLink from "@/components/AppStoreLink.astro";
// import CtaImg from '@/assets/images/web_cta.png';

const t = useTranslations("en");
---

<section class="wrapper">
  <article>
    <Typo
      class="text"
      text={t("block.cta.text")}
      tag="h2"
      weight="black"
      color="accent"
      size={["tr", "dc"]}
      align="center"
    />
    <AppStoreLink size="qr" gap="xxl"/>
  </article>
  <!--<img class="img" src={CtaImg.src} alt=""/>-->
</section>

<style lang="scss">
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--s-qr);
  }
  
  .wrapper article {
    max-width: var(--w-max-xxl);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--s-qr);
  }
  
  .wrapper >  article > :global(.text) {
    text-transform: uppercase;
  }
  
  .img {
    width: 100vw;
    aspect-ratio: 2/1;
    
    @include media(sm) {
      width: 75vw;
    }
    
    @include media(md) {
      width: 65vw;
    }
  }
</style>
