---
import Layout from "@/components/layouts/Layout.astro";
import {useTranslations} from "@/i18n/i18n.ts";
import MarkdownText from "@/components/typography/MarkdownText.astro";
import HeroPage from "@/components/blocks/HeroPage.astro";
import Section from "@/components/layouts/Section.astro";
import Button from "@/components/Button.astro";
import {GOOGLE_GROUP_LINK} from "@/utils/constants.ts";

const t = useTranslations("en");
---

<Layout theme="default">
  <HeroPage title={t("block.hero_beta.title")} text={t("block.hero_beta.text")}/>
  <Section maxWidth="xs">
    <MarkdownText text={t("block.media_beta.text")} color={"secondary"}  size={['df', 'xxl']}  />
    <Button
      class="btn-beta"
      label={t('action.join_beta')}
      href={GOOGLE_GROUP_LINK}
      target={'_blank'}
      theme="fill"
      size="tr"
      labelColor="primary"
      hoverBgColor="secondary"
      bgColor="accent"
    />
  </Section>
</Layout>

<style lang="scss">
  :global(.btn-beta) {
    width: 100% !important;
    background-color: orange;
  }

</style>
