---
import Layout from "@/components/layouts/Layout.astro";
import {useTranslations} from "@/i18n/i18n.ts";
import MarkdownText from "@/components/typography/MarkdownText.astro";
import HeroPage from "@/components/blocks/HeroPage.astro";
import Section from "@/components/layouts/Section.astro";

const t = useTranslations("en");
---

<Layout theme="default">
  <HeroPage title="Credits"/>
  <Section maxWidth="sm">
    <MarkdownText class="credits" text={t('credits.text')} color={"secondary"} size={['df', 'xxl']}  />
  </Section>
</Layout>

<style lang="scss">
  :global(.credits) {
    text-align: center;
  }

</style>

