---

import Layout from "@/components/layouts/Layout.astro";

import {useTranslations} from "@/i18n/i18n.ts";
import Typo from "@/components/typography/Typo.astro";
import MarkdownText from "@/components/typography/MarkdownText.astro";
import HeroPage from "@/components/blocks/HeroPage.astro";
import Section from "@/components/layouts/Section.astro";

const t = useTranslations("en");
---

<Layout theme="default">
  <HeroPage title="Privacy Policy"/>
  <Section maxWidth="sm">
    <MarkdownText class="privacy" text={t('privacy.text', {date: 'February 2026'})} color={"secondary"} size={['df', 'xxl']}  />
  </Section>
</Layout>

<style lang="scss">

</style>

